<div class="card text-white bg-dark m-5" id="{{dataValues.id}}" name="post-container" onclick="showUpdateForm(event)">
    <div class="card-body" name="post-body">
        <h4 class="card-title display-5" name="post-title">{{dataValues.title}}</h4>
        <p name="post-date">{{dataValues.date}}</p>
    </div>
</div>