<div class="card text-white bg-dark m-5" id="{{posts.id}}" name="post-container" onclick="showUpdateForm()">
    <div class="card-body" name="post-body">
        <h4 class="card-title display-5" name="post-title">{{posts.title}}</h4>
        <p name="post-date">{{posts.date}}</p>
    </div>
</div>