<!doctype html>
<html lang="en">

<head>
  {{#if login}}
  <title>The Tech Blog - Login</title>
  {{/if}}
  {{#if home}}
  <title>The Tech Blog - Home</title>
  {{/if}}
  {{#if dashboard}}
  <title>The Tech Blog - Dashboard</title>
  {{/if}}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="pt-5 bg">
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info fixed-top">
      <a class="navbar-brand mx-5 display-1" href="/">Your Tech Blog</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        {{#if loggedIn}}
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0 mx-5">
          <li class="nav-item mx-3">
            <a class="nav-link {{#if home}}active{{/if}}" href="/">Home</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link {{#if dashboard}}active{{/if}}" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" id="logout" style="cursor: pointer;">Logout</a>
          </li>
        </ul>
        <script>
          //logout script
          document.getElementById('logout').addEventListener('click', (event) => {
            fetch('/api/user/logout', { method: 'POST' })
              .then(() => location.reload());
          });
        </script>
        {{else}}
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0 mx-5">
          <li class="nav-item mx-3">
            <a class="nav-link {{#if home}}active{{/if}}" href="/">Home</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link {{#if login}}active{{/if}}" href="/login">Login</a>
          </li>
        </ul>
        {{/if}}
      </div>
    </nav>
  </header>

  <main class="d-flex justify-content-center align-items-stretch flex-wrap">
    {{{body}}}
  </main>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  {{#if home}}
  <script src="/js/pages/home.js"></script>
  {{/if}}
  {{#if login}}
  <script src="/js/pages/login.js"></script>
  {{/if}}
  {{#if dashboard}}
  <script src="/js/pages/dashboard.js"></script>
  {{/if}}
</body>

</html>