<main class="d-flex justify-content-center align-items-stretch p-5">
    <div class="card text-white bg-primary w-100 m-5" id="login-form">
      <div class="card-body">
        <h4 class="card-title">Login</h4>
        <div class="mb-3">
          <label for="" class="form-label">Email</label>
          <input type="email" class="form-control" name="" id="login-email" aria-describedby="emailHelpId" placeholder="abc@mail.com">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" name="" id="login-password" placeholder="">
        </div>
        <a name="" id="submit-login" class="btn btn-secondary" role="button">Login</a>
        <a name="" id="switch-sign-up" class="btn btn-secondary" role="button">Switch to sign up</a>
      </div>
    </div>
    <div class="card text-white bg-primary w-100 m-5" style="display: none;" id="sign-up-form">
      <div class="card-body">
        <h4 class="card-title">Sign up</h4>
        <div class="mb-3">
          <label for="" class="form-label">Email</label>
          <input type="email" class="form-control" name="" id="sign-up-email" aria-describedby="emailHelpId" placeholder="abc@mail.com">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" name="" id="sign-up-password" placeholder="">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" name="" id="sign-up-confirm-password" placeholder="">
        </div>
        <a name="" id="submit-sign-up" class="btn btn-secondary" role="button">Sign up</a>
        <a name="" id="switch-login" class="btn btn-secondary" role="button">Switch to login</a>
      </div>
    </div>
  </main>